*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
  
}

a{
    text-decoration: none;
    color: white;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navbar-toggler{
    font-size: 15px;
}

ul{
    list-style: none;
    font-weight: bold;
    color: white;
}

.fa-brands 
{
    font-size: 20px;
}
.fa-solid{
    font-size: 15px;
}
.footer{
    background-color: rgb(190 51 131) ;
}
.footer-con img{
    width: 200px;
}
.main-logo a{
    text-decoration: none;
}
#navbarNav ul li a:hover{
    color: aqua;
}

#footer-nav ul li a:hover{
    color: aqua;
}
#footer-nav a{
    text-decoration: none;
    color: white;
}
.btn:hover{
    background-color:aqua ;
   border: 1px solid aqua ;

}
.btn{
    background-color: rgb(190 51 131);
    border: 1px solid rgb(190 51 131) ;
}

.privacy a:hover{
color: aqua;
}
.main-parah{
    height: auto;
    width: 800px;
    /* padding: 20px; */
}
.position-image img {
    width: 100;
    min-height: 190px;
    height: 100%;
    object-fit: cover;
}